name: test

on: [push]

jobs:
    build:
      runs-on: ubuntu-22.04
      steps:
        - name: Get dependencies
          run: sudo apt-get update && sudo apt-get install gcc libegl1-mesa-dev libgles2-mesa-dev libx11-dev xorg-dev
        - uses: actions/checkout@v3.3.0
        - name: Set up Go
          uses: actions/setup-go@v4
          with:
            go-version: '1.25.5'
        - name: Run tests
          run: go test -v ./...
        - name: Build project
          run: go build -v ./...
